
ul {
	display: block;
	list-style-type: none;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}


.addForm {
	display: inline;
	padding: 0 30px 0 10px;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	line-height: 36px;
	height: 36px;
	font-size: 20px;
	box-shadow: inset 1px 1px 1px 0px rgb(0 0 0 / 20%);
	background: #fff;
	align-content: center;
	justify-content: center;
	margin-left: 10px;
	color: #000;
	
}
.addForm:hover {
	cursor: pointer;
}

.selectMake {
	display: inline;
	
}

.carContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.carList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}


.car {
	flex: 0 1 calc(25% - 1em);
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}

.car img {
	max-width: 400px;
	align-self: center;
}
